/* GLOBAL */
:root {
  --global-color:#ea625c;
  --bg-color:#fff;
  --color:#222;
  --font-family-text:"Roboto", "Arial", sans-serif;
}

html {
  height: 100%;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family:var(--font-family-text);
  background-color: #fff;
  color: #222;
}

img {
  min-width: 100%;
  height: auto;
}


/* CONTAINER  */
.container {
  width: 100%;
  min-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  color:var(--color);
  background-color:var(--bg-color);
}



/* MAIN CONTENT  */
.main-content {
  flex-grow: 1;
}