/* GLOBAL */
:root {
  --global-color:#ea625c;
  --bg-color:#fff;
  --color-text:#333;
  --color-heading:#222;
  --color-y:#777;
  --font-family-text:"Roboto", "Arial", sans-serif;
}

html {
  height: 100%;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family:var(--font-family-text);
  background-color:var(--bg-color);
  color: var(--color-text);
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON  */
.button {
  display: inline-block;
  padding: 12px 38px;
  text-decoration: none;
  border:none;
  color: #fff;
  background-color: var(--global-color);
  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

/* MAIN CONTENT  */
.main-content {
  flex-grow: 1;
}

/* SITE HEADER  */
.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: auto;
}

.logo-link-img {
  display: block;
  width: 35px;
  height: 42px;
  transition:opacity 0.3s ease;
}

.logo-link-img:hover {
  opacity: 0.8;
}

.logo-link-img:active {
  opacity: 0.6;
}

.sitenav {
  margin-right: 40px;
}

.sitenav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-link {
  display: block;
  border-bottom: 3px solid transparent;
  transition:border-bottom 0.3s ease ;
}

.sitenav-link:hover {
  border-bottom: 3px solid var(--color-text);
}
.sitenav-link:not(:last-child) {
  margin-right: 30px;
}

.sitenav-link a {
  text-decoration: none;
  color: var(--color-text);
}


.header-search {
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  border-bottom: 1px solid var(--color-text);
}

/* HERO SECTION  */
.hero {
  padding-top: 140px;
  padding-bottom: 182px;
  border-bottom: 1px solid var(--color-y);
  background-image: url(../img/watch.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% + 400px) bottom;
}

.block-cta {
  width: 100%;
  max-width: 490px;
}
.hero-heading {
  font-family:var(--font-family-text);
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-paragraph {
  width: 100%;
  max-width: 450px;
  padding-left: 37px;
  border-left: 3px solid #888;
  font-family:var(--font-family-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 30px;
  color:var(--color-y);
}





/* BACKGROUND RETINA  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .hero {
    background-image: url(../img/watch@2x.jpg);
  }

}
